name: GitHub Pages
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v2
      - uses: actions/upload-pages-artifact@v1
        with:
          # Public site is inside the `mi-sitio` folder in this repo
          path: "mi-sitio"
      - uses: actions/deploy-pages@v1
